<div class="modal-header">
  <h5 class="modal-title" id="addCategoryModalLabel">Dodaj nową kategorię</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="categoryName" class="form-label">Nazwa kategorii <span class="required-asterisk">*</span></label>
      <input type="text" class="form-control" id="categoryName" formControlName="name" required>
      @if(addCategoryForm.get('name')?.invalid && addCategoryForm.get('name')?.touched) {
      <div class="invalid-feedback">
        Nazwa kategorii jest wymagana.
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="categoryColor" class="form-label">Kolor kategorii <span class="required-asterisk">*</span></label>
      <input type="color" class="form-control" id="categoryColor" formControlName="color">
      @if(addCategoryForm.get('color')?.invalid && addCategoryForm.get('color')?.touched){
      <div class="invalid-feedback">
        Kolor kategorii jest wymagany.
      </div>
      }
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="addCategoryForm.invalid">Zapisz</button>
  </form>
</div>