<div class="modal-header">
    <h5 class="modal-title" id="addEventModalLabel">Dodaj nowe wydarzenie</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="newEventName" class="form-label">Nazwa <span class="required-asterisk">*</span></label>
            <input type="text" class="form-control" id="newEventName" formControlName="name" required>
            @if(addEventForm.get('name')?.invalid && addEventForm.get('name')?.touched) {
            <div class="text-danger">
                Nazwa wydarzenia jest wymagana.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="newEventDescription" class="form-label">Opis</label>
            <textarea class="form-control" id="newEventDescription" formControlName="description" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="newEventStartDate" class="form-label">Data rozpoczęcia <span
                    class="required-asterisk">*</span></label>
            <input type="date" class="form-control" id="newEventStartDate" formControlName="start_date" required>
            @if(addEventForm.get('start_date')?.invalid && addEventForm.get('start_date')?.touched) {
            <div class="text-danger">
                Data rozpoczęcia jest wymagana.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="newEventEndDate" class="form-label">Data zakończenia <span
                    class="required-asterisk">*</span></label>
            <input type="date" class="form-control" id="newEventEndDate" formControlName="end_date" required>
            @if(addEventForm.get('end_date')?.invalid && addEventForm.get('end_date')?.touched) {
            <div class="text-danger">
                Data zakończenia jest wymagana.
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="newEventImage" class="form-label">Logo</label>
            <input type="file" class="form-control" id="newEventImage" (change)="onFileChange($event)">
        </div>
        <div class="mb-3">
            <label for="newEventCategory" class="form-label">Kategoria <span class="required-asterisk">*</span></label>
            <select class="form-control" id="newEventCategory" formControlName="category_id" required>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
            @if(addEventForm.get('category_id')?.invalid && addEventForm.get('category_id')?.touched) {
            <div class="text-danger">
                Kategoria jest wymagana.
            </div>
            }
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="addEventForm.invalid">Dodaj</button>
    </form>
</div>